<h1>List of friends</h1>
<table style="width: 100%;max-width: 100%;margin-bottom: 20px;background-color: transparent;border-spacing: 0;border-collapse: collapse;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let friend of friendsList">
      <td>
        {{friend.name}}
      </td>
      <td>
        {{friend.address | uppercase}}
      </td>
      <td>
        {{friend.age}}
      </td>
    </tr>
  </tbody>
</table>